* {
    box-sizing: border-box;
}

.container {
    width:100%;
    max-width:500px;
    background-color: lightsalmon;
    margin:auto;
}

#main-input {
  width: 100%;
}

.operation {
    width: 16.65%;
    float: left;
}

.result {
    width: 100%;
    float: left;
}
